@()(implicit flash: Flash)

@main("Welcome") {
    <body class="landing-page" style="margin: 0; padding: 0;">
        <h1 style="color: red; font-family:Arial; text-align: center">Husky Hedge Fund</h1>
        <div>
            <form action="/login" style="text-align:center">
                <input type="submit" value="Login">
            </form>
        </div>

        <div>
            <form action="/signup">
                <input type="submit" value="Sign-Up">
            </form>
        </div>
    </body>
}