@(signUpData: Form[SignUpForm])(implicit request: MessagesRequestHeader, flash: Flash)

@main("Details") {
@defining(play.core.PlayVersion.current) { version =>
    <body class="landing-page">
        <div id="right-signup">
            @helper.form(action=routes.HomeController.validateSignUp()){
                @helper.CSRF.formField
                <p style="color: #2d2d2d; font-family:Arial; text-align: center; font-size: 12px">@flash.get("error")</p>
                @helper.inputText(signUpData("Name"), '_label -> null, 'placeholder -> "First Name & Last Name...", '_showConstraints -> false)
                @helper.inputText(signUpData("Email"), '_label -> null, 'placeholder -> "Email...", '_showConstraints -> false)
                @helper.inputText(signUpData("City"), '_label -> null, 'placeholder -> "City...", '_showConstraints -> false)
                @helper.inputText(signUpData("Username"), '_label -> null, 'placeholder -> "Username...", '_showConstraints -> false)
                @helper.inputPassword(signUpData("Password"), '_label -> null, 'placeholder -> "Password...", '_showConstraints -> false)
                <input type="submit" value="Sign-Up"/>
            }
        </div>
    </body>
    }
}