 @(loginForm: Form[LoginForm])(implicit request: MessagesRequestHeader, flash: Flash)

 @main("Login") {
 @defining(play.core.PlayVersion.current) { version =>

    <body class="landing-page">
        <div id="right">
            @helper.form(action=routes.HomeController.validateLogin()){
                @helper.CSRF.formField
                <p style="color: #2d2d2d; font-family:Arial; text-align: center; font-size: 12px">@flash.get("error")</p>
                @helper.inputText(loginForm("Username"), '_label -> null, 'placeholder -> "Your username..", '_showConstraints -> false)
                @helper.inputPassword(loginForm("Password"), '_label -> null, 'placeholder -> "Your password..", '_showConstraints -> false)
                <input type="submit" value="Login"/>
            }
        </div>
    </body>
 }
 }